html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')

      script(src='/socket.io/socket.io.js')
        script(src='js/board.js')
          script(src='js/jquery.json-2.2.min.js')
            link(rel='stylesheet', href='css/style.css')
    body
      canvas#amazons(width='600', height='600')
        p No Canvas Support! Get a REAL browser!

        #debug
          p Debug
