!!!
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/board.js')
    script(src='/javascripts/jquery.json-2.2.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body!= body
